<!-- <body>
  <div class="box-form">
    <div class="left">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="inputs">
          <h1 style="font-size: 40px;margin-bottom: 30px; font-weight: 800;">Login</h1>
          <input type="text" placeholder="Username" formControlName="log">
          <br>
          <input type="password" placeholder="Password" formControlName="password">
        </div>

        <button type="submit">Login</button>

      </form>

    </div>


    <div class="right">
      gggg
      <div>
        <img src="/src/assets/jarablue.png" alt="">
      </div>

    </div>

  </div>
</body> -->

<body>

  <div class="formContainer">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div style="background-color: #200D8E;">
        <div class="imgcontainer">
          <img src="../../../assets/jaralogoblue.png" alt="Avatar" class="avatar">
          <p style="color: WHITE;
      font-size: 25px;
      font-weight: 600;">Jara</p>
        </div>
        <hr>
      </div>
      <div class="container">
        <h1 style="text-align: center;font-weight: 600;">Connexion</h1>
        <label for="uname"><b>Nom d'utilisateur</b></label>
        <input type="text" placeholder="identifiant" name="uname" formControlName="log" required>

        <label for="psw"><b>Mot de Passe</b></label>
        <input type="password" placeholder="Mot de Passe" formControlName="password" name="psw" required>
        @if (!loginLoading) {
        <button type="submit">Se Connecter</button>
        }
        @else {
        <ng-container style="text-align: center;">
          <app-loader [loading]="loginLoading"></app-loader>
        </ng-container>
        }


        <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
      </div>
    </form>
  </div>
</body>