<body>
  <div class="box-form">
    <div class="left">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="inputs">
          <h1 style="font-size: 40px;margin-bottom: 30px; font-weight: 800;">Login</h1>
          <input type="text" placeholder="Username" formControlName="log">
          <br>
          <input type="password" placeholder="Password" formControlName="password">
        </div>

        <button type="submit">Login</button>
        <!-- <p style="margin-top: 10px;">Vous n'avez pas encore de compte? <a href="/signup">enregistrez</a> vous</p> -->
      </form>

    </div>


    <div class="right">
      gggg
      <div>
        <img src="/src/assets/jarablue.png" alt="">
      </div>

    </div>

  </div>
</body>