// html,
// body {
//   height: 100%;
//   width: 100%;
//   margin: 0;
// }
// body {
//   background-image: linear-gradient(
//     135deg,
//     rgb(51 51 51 / 9%) 10%,
//     #3472ab 100%
//   );
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   font-family: "Open Sans", sans-serif;
//   color: #333333;
//   height: 100vh;
// }

// .box-form {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 20%;
 
//   background: #ffffff;
//   border-radius: 10px;
//   overflow: hidden;
//   display: flex;
  
//   box-shadow: 0 0 20px 6px #090b6f85;
// }
// @media (max-width: 980px) {
//   .box-form {
//     flex-flow: wrap;
//     // text-align: center;
//     align-content: center;
//     align-items: center;
//   }
// }
// .box-form {
//   height: 70%;
//   width: 50%;
// }
// .box-form .right {
//   color: #ffffff;
//   background-size: contain;
//   margin-top: 10px;
//   background-repeat: no-repeat;
//   background-image: url("/assets/jarablue.png");
//   overflow: hidden;
//   width: 50%;
//   opacity: 0.9;
// }
// .box-form .left .overlay {
//   padding: 30px;
//   width: 100%;
//   height: 100%;
//   background: rgb(89 97 249 / 18%);
//   overflow: hidden;
//   box-sizing: border-box;
// }
// .box-form .left .overlay h1 {
//   font-size: 10vmax;
//   line-height: 1;
//   font-weight: 900;
//   margin-top: 40px;
//   margin-bottom: 20px;
// }
// .box-form .left .overlay span p {
//   margin-top: 30px;
//   font-weight: 900;
// }
// .box-form .left .overlay span a {
//   background: #3b5998;
//   color: #ffffff;
//   margin-top: 10px;
//   padding: 14px 50px;
//   border-radius: 100px;
//   display: inline-block;
//   box-shadow: 0 3px 6px 1px #042d4657;
// }
// .box-form .left .overlay span a:last-child {
//   background: #1dcaff;
//   margin-left: 30px;
// }
// .box-form .left {
//   padding: 40px;
//   overflow: hidden;
//   margin-top: 40px;
//   width: 50%;
// }
// @media (max-width: 980px) {
//   .box-form .left {
//     width: 100%;
//   }
// }
// .box-form .left h5 {
//   font-size: 6vmax;
//   line-height: 0;
// }
// .box-form .left p {
//   font-size: 14px;
//   color: #b0b3b9;
// }
// .box-form .left .inputs {
//   overflow: hidden;
// }
// .box-form .left input {
//   width: 100%;
//   margin-bottom: 30px;
//   padding: 10px;
//   margin-top: 25px;
//   font-size: 16px;
//   border: none;
//   outline: none;
//   border-bottom: 2px solid #b0b3b9;
// }
// .box-form .left .remember-me--forget-password {
//   display: flex;

//   align-items: center;
// }
// .box-form .left .remember-me--forget-password input {
//   margin: 0;
//   margin-right: 7px;
//   width: auto;
// }
// .box-form .left button {
 
//   margin-top: 30px;
//   color: #fff;
//   font-size: 16px;
//   padding: 12px 35px;
//   border-radius: 50px;
//   display: inline-block;
//   border: 0;
//   outline: 0;
//   box-shadow: 0px 4px 20px 0px #2899c6a6;
//   background-image: linear-gradient(135deg, #70ecf5 10%, #284dc6 100%);
// }

// label {
//   display: block;
//   position: relative;
//   margin-left: 30px;
// }

// label::before {
//   content: " \f00c";
//   position: absolute;
//   font-family: FontAwesome;
//   background: transparent;
//   border: 3px solid #70c0f5;
//   border-radius: 4px;
//   color: transparent;
//   left: -30px;
//   transition: all 0.2s linear;
// }

// label:hover::before {
//   font-family: FontAwesome;
//   content: " \f00c";
//   color: #fff;
//   cursor: pointer;
//   background: #70c4f5cc;
// }

// label:hover::before .text-checkbox {
//   background: #70b5f5;
// }

// label span.text-checkbox {
//   display: inline-block;
//   height: auto;
//   position: relative;
//   cursor: pointer;
//   transition: all 0.2s linear;
// }

// label input[type="checkbox"] {
//   display: none;
// }

// .inputs {
//   width: 100%;
// }

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;
width: 40%;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(122, 122, 175);
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  padding: 10px;
  // margin: 24px 0 12px 0;
}

img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding: 15px;
  background: white;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.formContainer{
  margin: auto;
}
.formContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  height: 100vh;
}