<h1>Mes Creations</h1>
<mat-card class="mat-elevation-z0 page-header-container">
  <mat-card-header class="page-header"></mat-card-header>
  <mat-card-content class="page-header-content">
    <p style="font-weight: bold;">Total:</p>
    <div class="container">
      

      <div class="items">
        <div class="search nosubmit">
          <input class="nosubmit" type="search" placeholder="Search...">
        </div>
        <button mat-raised-button color="primary" (click)="createUser()">New User</button>
      </div>
      <!-- <app-search (searchInput)="applyFilter($event)"></app-search> -->
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z0">
  <mat-card-content class="table-container" style="overflow: auto">

<div >
 
  <table mat-table mat-sort [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="joignedOn">
      <th mat-header-cell *matHeaderCellDef> Date de Creation </th>
      <td mat-cell *matCellDef="let element"> {{element.joigned_on | date}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Utilisateur </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Prenom </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef> Date de Naissance </th>
      <td mat-cell *matCellDef="let element"> {{element.date_of_birth | date}} </td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Niveau </th>
      <td mat-cell *matCellDef="let element"> {{element.level}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Sexe </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="gotoDetails(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
</mat-card-content>
</mat-card>
