<div class="sidenav" [ngClass]="collapsed
      ? 'sidenav-collapsed'
      : ''">

  <div class=" logo-container">
    <button class="logo" (click)="toggleCollapse()">J</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Jara</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" (click)="shrinkItems(data)">
        <i class="sidenav-link-icon" [class]="data.icon">
          <mat-icon>{{data.icon}}</mat-icon>
        </i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{data.label}}
        </span>
      </a>
    </li>
    <div class="endlist">

      <hr />
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="'profile'" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="sidenav-link-icon">
            <mat-icon> account_circle </mat-icon>
          </i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">

            {{auth.getStoredAuthUser().username}}
          </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" (click)="logout()">
          <i class="sidenav-link-icon fal fa-sign-out">
            <mat-icon>logout</mat-icon>
          </i>

          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            Logout
          </span>
        </a>
      </li>
    </div>
  </ul>
</div>